.header {
  z-index: 100;
}

.header .navbar {
  position: fixed;
  z-index: 100;
}

.header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  position: relative;
  right: -1100px;
  margin: 35px 0;
  z-index: 100;
}

.header .navbar ul li {
  margin: 10px;
  padding-right: 20px;
}

.header .navbar ul li a {
  color: #262500;
  font-weight: 700;
  font-size: 15px;
}

.header .navbar ul li a:hover {
  opacity: 0.5;
}

.header .navbar li:last-child {
  margin-right: 0;
}

.header .respons {
  visibility: hidden;
  height: 0;
}

.header .drawer {
  visibility: hidden;
}

@media screen and (max-width: 1025px) {
  header .navbar ul {
    left: 650px;
  }
}

@media screen and (max-width: 769px) {
  header .navbar ul {
    left: 400px;
  }
}

@media screen and (max-width: 376px) {
  header .navbar ul {
    margin: 50px 0;
    left: 20px;
  }
  header .navbar ul li {
    padding-right: 0px;
    margin: 0px;
  }
  header .navbar ul li a {
    font-size: 6px;
  }
}

footer {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  top: 30px;
  z-index: 50;
}

@media screen and (max-width: 1025px) {
  footer {
    z-index: 50;
  }
}

@media screen and (max-width: 376px) {
  .contact_footer {
    width: 97%;
    z-index: 50;
  }
}

.contact_main {
  font-size: 15px;
  font-family: "Noto Serif", serif;
  line-height: 2;
  letter-spacing: 1px;
  word-break: break-all;
  color: #262500;
  display: block;
}

.pink_bg {
  background: -webkit-gradient(linear, left top, right top, from(#fefdfd), color-stop(20%, #f3c9c9), color-stop(51%, #f89aad), color-stop(80%, #f986a0), to(#e99c9c));
  background: linear-gradient(to right, #fefdfd 0%, #f3c9c9 20%, #f89aad 51%, #f986a0 80%, #e99c9c 100%);
  padding: 80px;
}

a {
  text-decoration: none;
  color: #262500;
}

li {
  list-style: none;
}

.contact_bg {
  background-color: #fff;
  width: 80vw;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 200px;
}

.contact_title {
  text-align: center;
  width: 100%;
  padding-top: 100px;
  line-height: 2;
  font-family: "Parisienne", cursive;
  font-weight: bold;
  font-size: 100px;
  color: #262500;
}

.contact {
  padding: 100px;
  padding-bottom: 200px;
}

.contact .contact_form {
  width: 70%;
  margin: 0 auto;
}

.contact .contact_form .contact_input {
  margin: 20px;
  padding: 5px;
}

.contact .contact_form .contact_input label {
  display: inline-block;
  width: 30%;
  font-size: 20px;
  line-height: 2;
}

.contact .contact_form .contact_input input,
.contact .contact_form .contact_input textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid #000 1px;
  width: 65%;
  height: 50px;
  margin-bottom: 15px;
  background-color: #ECECEC;
}

.contact .contact_form .contact_input input {
  padding: 6px;
}

.contact .contact_form .contact_input textarea {
  vertical-align: top;
  height: 120px;
}

@media screen and (max-width: 1025px) {
  .contact_bg {
    width: 75vw;
  }
  .contact {
    padding: 50px;
  }
  .contact .contact_form {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .contact .contact_form .contact_input {
    margin: 20px 0;
    padding: 5px;
  }
  .contact .contact_form .contact_input label {
    display: inline-block;
    text-align: left;
    width: 100%;
    font-size: 30px;
  }
  .contact .contact_form .contact_input input {
    width: 100%;
    height: 80px;
  }
  .contact .contact_form .contact_input textarea {
    width: 100%;
    height: 200px;
  }
}

@media screen and (max-width: 376px) {
  .pink_bg {
    padding: 40px 20px;
    padding-bottom: 50px;
  }
  .contact_bg {
    width: 100%;
    padding-top: 70px;
    margin-top: 150px;
  }
  .contact_bg .contact_title {
    display: unset;
    text-align: center;
    width: 100%;
    padding-top: 70px;
    line-height: 2;
    font-family: "Parisienne", cursive;
    font-weight: bold;
    font-size: 70px;
    color: #262500;
  }
  .contact {
    padding: 10px;
  }
  .contact .contact_form {
    width: 100%;
    display: block;
    margin: 0px;
  }
  .contact .contact_form .contact_input {
    margin: 20px 0;
    padding: 5px;
  }
  .contact .contact_form .contact_input label {
    display: inline-block;
    text-align: left;
    width: 100%;
    font-size: 30px;
  }
  .contact .contact_form .contact_input input {
    width: 100%;
    height: 80px;
  }
  .contact .contact_form .contact_input textarea {
    width: 100%;
    height: 200px;
  }
}

.button {
  text-align: center;
}

.button_submit {
  padding: 10px 70px;
  margin: 50px 0 120px 0;
  font-weight: bold;
  border: solid 2px;
  color: #fff;
  background-color: #000;
}

.button_submit:hover {
  color: #000;
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 1025px) {
  .button_submit {
    padding: 30px 120px;
    margin: 50px 0 120px 0;
    font-size: 30px;
  }
}

@media screen and (max-width: 376px) {
  .button_submit {
    padding: 13px 50px;
    margin: 50px 0 120px 0;
    font-size: 15px;
  }
}
