footer {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  top: 30px;
  z-index: 50;
}

@media screen and (max-width: 1025px) {
  footer {
    z-index: 50;
  }
}
@media screen and (max-width: 376px) {
  .contact_footer {
    width: 97%;
    z-index: 50;
  }
}
