.header {
  z-index: 100;
  .navbar {
    position: fixed;
    z-index: 100;
    ul {
      display: flex;
      float: right;
      position: relative;
      right: -1100px;
      margin: 35px 0;
      z-index: 100;
      li {
        margin: 10px;
        padding-right: 20px;

        a {
          color: $cfont_color;
          font-weight: 700;
          font-size: 15px;
        }
        a:hover {
          opacity: 0.5;
        }
      }
    }
    li:last-child {
      margin-right: 0;
    }
  }
  .respons {
    visibility: hidden;
    height: 0;
  }
  .drawer {
    visibility: hidden;
  }
}

@media screen and (max-width: 1025px) {
  header {
    .navbar {
      ul {
        left: 650px;
      }
    }
  }
}
@media screen and (max-width: 769px) {
  header {
    .navbar {
      ul {
        left: 400px;
      }
    }
  }
}
@media screen and (max-width: 376px) {
  header {
    .navbar {
      ul {
        margin: 50px 0;
        left: 20px;
        li {
          padding-right: 0px;
          margin: 0px;
          a {
            font-size: 6px;
          }
        }
      }
    }
  }
}
