.contact_main {
  @include body_base;
  display: block;
}
.pink_bg{

  background: linear-gradient(
    to right,
    #fefdfd 0%,
    #f3c9c9 20%,
    #f89aad 51%,
    #f986a0 80%,
    #e99c9c 100%
    );
    padding:80px;
}
a {
  @include a_base;
}

li {
  @include li_base;
}
.contact_bg {
  background-color: $cwhite;
  width: 80vw;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 200px;
}
.contact_title {
  @include main-title;
}
.contact {
  padding: 100px;
  padding-bottom: 200px;

  .contact_form {
    width: 70%;
    margin: 0 auto;

    .contact_input {
      margin: 20px;
      padding: 5px;
      label {
        display: inline-block;
        width: 30%;
        font-size: 20px;
        line-height: 2;
      }

      input,
      textarea {
        box-sizing: border-box;
        border: solid $cBlack 1px;
        width: 65%;
        height: 50px;
        margin-bottom: 15px;
        background-color: $cGray;
      }

      input {
        padding: 6px;
      }

      textarea {
        vertical-align: top;
        height: 120px;
      }
    }
  }
}
@media screen and (max-width: 1025px) {
  .contact_bg {
    width: 75vw;
  }
  .contact {
    padding: 50px;

    .contact_form {
      width: 90%;
      display: block;
      margin: 0 auto;
      .contact_input {
        margin: 20px 0;
        padding: 5px;
        label {
          display: inline-block;
          text-align: left;
          width: 100%;
          font-size: 30px;
        }
        input {
          width: 100%;
          height: 80px;
        }

        textarea {
          width: 100%;
          height: 200px;
        }
      }
    }
  }
}
@media screen and (max-width: 376px) {
  .pink_bg{
    padding:40px 20px;
    padding-bottom: 50px;
}
  .contact_bg {
    width: 100%;
    padding-top: 70px;
    margin-top: 150px;

    .contact_title{
      display: unset;
      @include main-title_respnsive;
    }
  }
  .contact {
    padding: 10px;

    .contact_form {
      width: 100%;
      display: block;
      margin: 0px;
      .contact_input {
        margin: 20px 0;
        padding: 5px;
        label {
          display: inline-block;
          text-align: left;
          width: 100%;
          font-size: 30px;
        }
        input {
          width: 100%;
          height: 80px;
        }

        textarea {
          width: 100%;
          height: 200px;
        }
      }
    }
  }
}