body {
  font-size: 15px;
  font-family: "Noto Serif", serif;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: $cfont_color;
}

a {
  text-decoration: none;
  color: $cfont_color;
}

li {
  list-style: none;
}
.thumbnail {
  height: 700px;
  img {
    width: 60vw;
    height: 600px;
    margin: 100px 20%;
  }
}
.detail {
  width: 60vw;
  height: 100px;
  margin: 10px 20%;

  .dete {
    font-size: 50px;
  }
  .title {
    margin-top: 0px;
    font-size: 45px;
  }
}
.content {
  width: 60vw;
  height: auto;
  margin: 100px 20%;

  p {
    width: 60vw;
    height: auto;
  }
}
.next_link {
  width: 100%;
  height: auto;
  position: absolute;
  margin: 80px auto;
  z-index: 100;
  ul {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    li {
      margin: 10px;
      padding-right: 20px;
    }

    .center{
      font-size: 20px;
      font-weight: bold;
    }
  }

}

footer{
  div{
    height: 500px;
    background-color: $cwhite;
  }
}